<div class="ui-s600">
    <ui-card class="elevate-on-toolbar">
        <ui-data-table class="responsive">
            <tbody #elementInsert>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Curso
                    </th>
                </tr>
                <tr class="empty" *ngIf="!listaAluno.size()">
                    <td colspan="3">{{loading ? 'Carregando...' : 'Nenhum aluno cadastrado'}}</td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </ui-data-table>
    </ui-card>
    <div class="ui-fab-container">
        <button class="ui-button accent fab" uiRipple [routerLink]="['novo']">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>