<div class="ui-s480">
    <ui-card class="elevate-on-toolbar">
        <ui-data-table class="responsive">
            <tbody>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Status
                </th>
            </tr>
            <tr *ngFor="let item of list" [routerLink]="['/curso', item.id]">
                <td data-title="Nome" [class.empty]="!item.nome">
                    <span class="ellipsis">
                        {{item.nome}}
                    </span>
                </td>
                <td data-title="Status" [class.empty]="!item.ativo">
                    <span class="ellipsis">
                        {{item.ativo ? 'Ativo' : 'Inativo'}}
                    </span>
                </td>
            </tr>
            <tr class="empty" *ngIf="!list || !list.length">
                <td colspan="4">{{loading ? 'Carregando...' : 'Nenhum curso encontrado'}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="align-right">
                    <div class="ui-button-container align-right">
                        <span class="pagination" *ngIf="totalLinhas">
                            {{((pagina - 1) * 10) + 1}}-{{pagina * 10 < totalLinhas ? pagina * 10 : totalLinhas}} de {{totalLinhas}}
                        </span>
                        <button class="ui-button flat icon" uiRipple [disabled]="pagina < 2"
                                (click)="pagina = pagina - 1; getInfo();">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </button>
                        <button class="ui-button flat icon" uiRipple [disabled]="totalLinhas < pagina * 10"
                                (click)="pagina = pagina + 1; getInfo();">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </ui-data-table>
    </ui-card>
    <div class="ui-fab-container">
        <button class="ui-button accent fab" uiRipple [routerLink]="['novo']">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>
