<div class="ui-s600">
    <ui-card class="elevate-on-toolbar">
        <ui-toolbar class="flat">
            <button class="ui-button flat icon" uiRipple (click)="router.navigate(['professor'])">
                <i class="material-icons">arrow_back</i>
            </button>
            <span class="title">{{addingNew ? 'Novo professor' : 'Alterando ' + (info.nome || 'professor')}}</span>
            <div class="align-right">
                <button *ngIf="!addingNew" class="ui-button flat icon" type="button" uiRipple [uiMenuTrigger]="menuDelete" align="right">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </ui-toolbar>

        <ui-card-content>
            <form #formProfessor="ngForm" class="ui-validate on-dirty on-submit" (submit)="onSubmit(formProfessor)">
                <div class="ui-flex-container breake-on-s600">
                    <ui-input-container>
                        <input #campoCpf="ngModel" type="text" [(ngModel)]="info.cpf" name="campoCpf" (blur)="verificaCpf(info.cpf)" uiInput required
                            uiMaskCpf>
                        <label>CPF</label>
                        <div class="ui-messages">
                            <div *ngIf="campoCpf.errors && campoCpf.dirty">
                                <div class="ui-message error" [hidden]="!campoCpf.pristine && !campoCpf.errors.required">CPF é obrigatório
                                </div>
                                <div class="ui-message error" [hidden]="!campoCpf.errors.parse">Informe um CPF válido
                                </div>
                                <div class="ui-message error" [hidden]="!campoCpf.errors.cpfExistente">CPF já cadastrado
                                </div>
                            </div>
                        </div>
                    </ui-input-container>

                    <ui-input-container>
                        <input type="text" uiInput [(ngModel)]="info.dataNascimento" name="date" [uiDatePicker]="'dataNascimento'" uiMaskDate #DataNascimento="ngModel"
                            required>
                        <label>Data de Nascimento</label>
                        <div class="ui-messages">
                            <div *ngIf="DataNascimento.errors && DataNascimento.dirty">
                                <div class="ui-message error" [hidden]="!DataNascimento.pristine && !DataNascimento.errors.required">
                                    Data de nascimento é obrigatória
                                </div>
                                <div class="ui-message error" [hidden]="!DataNascimento.pristine && !DataNascimento.errors.parse">
                                    Informe uma data válida
                                </div>
                            </div>
                        </div>
                        <div class="icon">
                            <button class="ui-button icon flat" [uiDatePickerCaller]="'dataNascimento'" type="button">
                                <i class="material-icons">today</i>
                            </button>
                        </div>
                    </ui-input-container>
                </div>

                <ui-input-container>
                    <input #campoNome="ngModel" type="text" [(ngModel)]="info.nome" name="campoNome" uiInput required uiMaxlength="70">
                    <label>Nome</label>
                    <div class="ui-messages">
                        <div *ngIf="campoNome.errors && campoNome.dirty">
                            <div class="ui-message error" [hidden]="!campoNome.pristine && !campoNome.errors.required">Nome é obrigatório
                            </div>
                            <div class="ui-message error" [hidden]="!campoNome.errors.uiMaxlength">Nome não pode conter mais de 70 caracteres.
                            </div>
                        </div>
                        <div class="ui-message counter" [ngClass]="{'error': info.nome && info.nome.length > 70}">
                            {{info.nome ? info.nome.length : 0}}/70
                        </div>
                    </div>
                </ui-input-container>

                <ui-input-container>
                    <input #campoEmail="ngModel" type="text" [(ngModel)]="info.email" name="campoEmail" uiInput required uiMaxlength="252" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <label>Email</label>
                    <div class="ui-messages">
                        <div *ngIf="campoEmail.errors && campoEmail.dirty">
                            <div class="ui-message error" [hidden]="!campoEmail.pristine && !campoEmail.errors.required">Email é obrigatório
                            </div>
                            <div class="ui-message error" [hidden]="!campoEmail.pristine && !campoEmail.errors.pattern">Insira um email válido
                            </div>
                            <div class="ui-message error" [hidden]="!campoEmail.errors.uiMaxlength">Email não pode conter mais de 252 caracteres.
                            </div>
                        </div>
                        <div class="ui-message counter" [ngClass]="{'error': info.email && info.email.length > 252}">
                            {{info.email ? info.email.length : 0}}/252
                        </div>
                    </div>
                </ui-input-container>

                <ui-input-container>
                    <input #campoSalario="ngModel" type="text" [(ngModel)]="info.salario" name="campoSalario" uiInput required uiMaskCurrency>
                    <label>Salário</label>
                    <div class="ui-messages">
                        <div *ngIf="campoSalario.errors && campoSalario.dirty">
                            <div class="ui-message error" [hidden]="!campoSalario.pristine && !campoSalario.errors.required">
                                Salário é obrigatório
                            </div>
                        </div>
                    </div>
                </ui-input-container>

                <ui-chips>
                    <ui-input-container>
                        <input #campoDisciplinas="ngModel" type="text" name="campoDisciplinas" [(ngModel)]="chips.search" uiInput uiAutocomplete
                            (input)="loadChips()" (focus)="loadChips()" [list]="chips" [primary]="'nome'" [loading]="chips.loading"
                            [select]="chipSelect.bind(this)">
                        <label>Disciplinas</label>
                    </ui-input-container>
                    <div *ngFor="let selectedChip of info.disciplinas" class="ui-chip">
                        {{selectedChip.nome}}
                        <div class="close ripple-rounded" uiRipple (click)="removeChip(selectedChip)">
                            <i class="material-icons">add_circle</i>
                        </div>
                    </div>
                </ui-chips>

                <ui-subheader>Endereço</ui-subheader>

                <div class="ui-flex-container break-on-s600">
                    <ui-input-container>
                        <input #campoCepCartao="ngModel" type="text" [(ngModel)]="info.cep" uiInput name="campoCepCartao" uiMaskCep required (blur)="getCep(formProfessor, info.cep)">
                        <label>CEP</label>
                        <div class="icon">
                            <button class="ui-button icon flat" type="button" (click)="getCep(formProfessor, info.cep)" uiRipple [disabled]="campoCepCartao.errors || !campoCepCartao.dirty">
                                <ui-progress-radial class="indeterminate primary" *ngIf="buscandoCep"></ui-progress-radial>
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                        <div class="ui-messages">
                            <div *ngIf="campoCepCartao.errors && campoCepCartao.dirty">
                                <div class="ui-message error" [hidden]="!campoCepCartao.pristine && !campoCepCartao.errors.required">
                                    CEP é obrigatório
                                </div>
                                <div class="ui-message error" [hidden]="!campoCepCartao.errors.parse && !campoCepCartao.hasError(['invalidCep'])">
                                    CEP inválido
                                </div>
                            </div>
                        </div>
                    </ui-input-container>
                    <ui-input-container>
                        <ui-select #campoEstadoCartao="ngModel" name="campoEstadoCartao" [(ngModel)]="info.uf" [options]="estados" value="uf" label="nome"
                            uiInput required [chosen]="true"></ui-select>
                        <label>
                            Estado
                        </label>
                        <div class="ui-messages">
                            <div *ngIf="campoEstadoCartao.errors && campoEstadoCartao.dirty">
                                <div class="ui-message error" [hidden]="!campoEstadoCartao.errors.required">
                                    Estado é obrigatório
                                </div>
                            </div>
                        </div>
                    </ui-input-container>
                </div>
                <div class="ui-flex-container break-on-s600">
                    <ui-input-container>
                        <input #campoCidade="ngModel" type="text" [(ngModel)]="info.cidade" uiInput name="campoCidade" required uiMaxlength="50">
                        <label>Cidade</label>
                        <div class="ui-messages">
                            <div *ngIf="campoCidade.errors && campoCidade.dirty">
                                <div class="ui-message error" [hidden]="!campoCidade.pristine && !campoCidade.errors.required">
                                    Cidade é obrigatória
                                </div>
                                <div class="ui-message counter error" [hidden]="!campoCidade.errors.uiMaxlength">
                                    {{info.cidade ? info.cidade.length : 0}}/50
                                </div>
                            </div>
                        </div>
                    </ui-input-container>
                    <ui-input-container>
                        <input #campoLogradouro="ngModel" type="text" [(ngModel)]="info.logradouro" uiInput name="campoLogradouro" required uiMaxlength="70">
                        <label>Logradouro</label>
                        <div class="ui-messages">
                            <div *ngIf="campoLogradouro.errors && campoLogradouro.dirty">
                                <div class="ui-message error" [hidden]="!campoLogradouro.pristine && !campoLogradouro.errors.required">
                                    Logradouro é obrigatório
                                </div>
                                <div class="ui-message counter error" [hidden]="!campoLogradouro.errors.uiMaxlength">
                                    {{info.logradouro ? info.logradouro.length : 0}}/70
                                </div>
                            </div>
                        </div>
                    </ui-input-container>
                </div>
                <div class="ui-flex-container break-on-s600">
                    <ui-input-container>
                        <input #campoNumeroEnd="ngModel" type="text" [(ngModel)]="info.numero" uiInput name="campoNumeroEnd" required uiMaxlength="15">
                        <label>Número</label>
                        <div class="ui-messages">
                            <div *ngIf="campoNumeroEnd.errors && campoNumeroEnd.dirty">
                                <div class="ui-message error" [hidden]="!campoNumeroEnd.pristine && !campoNumeroEnd.errors.required">
                                    Número é obrigatório
                                </div>
                                <div class="ui-message counter error" [hidden]="!campoNumeroEnd.errors.uiMaxlength">
                                    {{info.numero ? info.numero.length : 0}}/15
                                </div>
                            </div>
                        </div>
                    </ui-input-container>

                    <ui-input-container>
                        <input #campoBairroCartao="ngModel" type="text" [(ngModel)]="info.bairro" uiInput name="campoBairroCartao" required uiMaxlength="50">
                        <label>Bairro</label>
                        <div class="ui-messages">
                            <div *ngIf="campoBairroCartao.errors && campoBairroCartao.dirty">
                                <div class="ui-message error" [hidden]="!campoBairroCartao.pristine && !campoBairroCartao.errors.required">
                                    Bairro é obrigatório
                                </div>
                                <div class="ui-message counter error" [hidden]="!campoBairroCartao.errors.uiMaxlength">
                                    {{info.bairro ? info.bairro.length : 0}}/50
                                </div>
                            </div>
                        </div>
                    </ui-input-container>
                </div>


                <div class="ui-fab-container">
                    <button class="ui-button accent fab" uiRipple>
                        <i class="material-icons">save</i>
                    </button>
                </div>
            </form>
        </ui-card-content>
    </ui-card>
</div>

<ui-menu #menuDelete>
    <div class="ui-menu-content size-2x">
        <ui-subheader>Deseja excluir?</ui-subheader>
        <div class="ui-menu-item" uiRipple (click)="confirmDelete()">
            Sim
        </div>
        <div class="ui-menu-item" uiRipple>
            Não
        </div>
    </div>
</ui-menu>